body {
    background-color: #68BED3;

}
.container {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc((100% - 800px) / 2);
    
}
   .left-column {
       display: inline-block;
       width: calc(40% - 80px);
       float: left;
       padding: 40px;
       margin-top: 20px;
       background-color: #4242a4;

   }
    .right-column { 
       display: inline-block;
       width: calc(60% - 120px);
       float: left;
       padding: 60px;
       background-color: #fff;

   }